
@media (max-width: 1400px){
 .categories .cat-items{
 	width: 65%;
 }
 .products-crousel #owl-demo .owl-controls .owl-buttons div.owl-next{
 	right: 4px;
 }
  .products-crousel #owl-demo .owl-controls .owl-buttons div.owl-prev  {
  	left: 4px;
  }
}

@media (max-width: 1200px){
.categories .cat-items{
 	width: 70%;
 }
 .king_store .categories .cat-items{
 	width: 60%;
 }
 .king_store .categories .cat-items li.item {
    width: 44%;
}
}

@media (max-width: 1100px){
.categories .cat-items{
 	width: 80%;
 }
 .products-crousel .item .container .image-product .price{
 	right: 40px;
 }
}


@media (max-width: 992px){
.categories .cat-items {
    width: 100%;
}
.categories .cat-items li.item:first-child {
	margin-left: 50px;
}
.categories .cat-items li.item{
	margin-right: 20px;
}

.products-crousel .item .image-product .price,.products-crousel .item .container .description{
	display: none;
} 

.products-crousel .item .container .image-product {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.products-crousel .item .container .description.responsive{
	position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.products-crousel .item .container .image-product .price {
	display: none;
}

.products-crousel .item .image-product .circle{
	margin: auto;
}

.products-crousel .item .container .description h3{
	text-align: center;
	margin-top: 15px;
}

}


@media (max-width: 768px){
	.navbar-toggle{
		display: none;
	}
	.collapse.navbar-collapse{
		display: none;
	}
	.my-menu ul.items-responsive{
		display: block;
	}

	.categories .cat-items{
		display: none;
	}

	.categories .dropdown{
		display: block;
	}

	.products-crousel .item .image-product .circle {
	    width: 340px;
	    height: 340px;
   }

	.products-crousel .description.responsive .price{
		width: 50%;
        margin: auto;
	}

	.small-images-products #owl-small-pics .item4,.small-images-products #owl-small-pics .item5{
		display: none;
	}
	.small-images-products #owl-small-pics .item {
	    width: 32%;
	}

	.store_cart .container_table table td.count .circle_div{
		width: 90px;
        height: 40px;
	}
	.store_cart .container_table table .img-product {
	    width: 90px;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px; 
    }
}

@media (max-width: 600px){
.store_cart .container_table table td.remove{display: none;}
.store_cart .container .container_table{padding:5px;}
.store_cart .container_table table td.count, .store_cart .container_table table .count_th {display: none;}
}

@media (max-width: 480px){
.products-crousel .item .image-product .circle {
    width: 280px;
    height: 280px;
}

.king_store .categories .back-button {
    position: absolute;
    left: 2px;
    bottom: 20px;
}
.small-images-products #owl-small-pics .item {
    width: 26%;
}

.store_cart .container_table table .total_count,.store_cart .container_table table td.total{display: none;}



}


@media (max-width: 400px){

}