
body{
	font-family: "BPG WEB 001 Caps", sans-serif;
}


/*
===================================================
My Menu
===================================================
*/

.my-menu{
	border-radius: 0px;
	color: white;
	border: 0;
	margin-bottom: 0px;
    border-bottom: 2px dotted;
    padding-bottom: 15px;
}

.my-menu ul.items-responsive{
	    list-style-type: none;
    float: right;
    margin-bottom: 0;
    display: none;
}

.navbar-header ul.items-responsive li {
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 3.5;
    margin-right: 35px;
}

.navbar-header ul.items-responsive li a{
	display: block;
	position: relative;
}

.navbar-header ul.items-responsive li a .number-circle{
	position: absolute;
    top: 6px;
    left: 12px;
    color: white;
    font-size: 14px;
    z-index: 5;
    background-color: #e1a226;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px;
    line-height: 1.5;
}

.my-menu .container-fluid{
    background-color: #1355a3;
    border-color: #1355a3;
    padding-right: 0px;
}

.navbar-nav>li>a{
	line-height: 26px;
}
 
.my-menu .nav.navbar-nav.navbar-right{
	background-color: white;
}

.my-menu .nav.navbar-nav.navbar-right.the-last-one li:last-child img{
	height: 26px;
}

.my-menu .navbar-brand img{
	display: inline-block;
}

.my-menu .navbar-brand .logo-word{
	display: inline-block;
	font-weight: bold;
	color: white;
}

.my-menu .nav.navbar-nav li a{
	color: #89aad1;
}

.my-menu .nav.navbar-nav li.special-close{
	background-color: #124e95;
}

.my-menu .nav.navbar-nav li.special-close a{
	color: white;
	line-height: 26px;
}

.my-menu .nav.navbar-nav .number-circle{
	position: absolute;
    top: 6px;
    right: 6px;
    color: white;
    font-size: 14px;
    z-index: 5;
    background-color: #e1a226;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px;
}

@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
}



/*
===================================================
END OF My Menu
===================================================
*/

/*
===================================================
categories
===================================================
*/

.categories{
	border-top: 2px dotted #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.categories .cat-items{
	list-style-type: none;
    margin: auto;
    display: block;
    width: 50%;
    padding: 0;
}

.categories .cat-items li.item{
	display: inline-block;
    float: none;
    margin-right: 37px;
    color: #535353;
    width: 21%;
}

.categories .cat-items li.item span{
	margin-left: 15px;
}

.categories .cat-items li.item:last-child{
	margin-right: 0px;
}

.categories .dropdown{
	display: none;

}

.categories .dropdown button{
	margin: auto;
    display: block;
    /* width: 30%; */
    background: transparent;
    border: 0;
}

.categories .dropdown button span{
	margin-left: 15px;
}

.categories .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    float: left;
    width: 200px;
}

.categories .dropdown .dropdown-menu li.item{
	margin-bottom: 15px;
}

.categories .dropdown .dropdown-menu li.item:last-child{
	margin-bottom: 0px;
}

.categories .dropdown .dropdown-menu li.item .img-cat{
	margin-left: 10px;
}

.categories .dropdown .dropdown-menu li.item span{
	margin-left: 10px;
}


	/*
	====================
	king story page
	====================
	*/
     .king_store .categories .cat-items{
     	width: 36%;
     }
     .king_store .categories .cat-items li.item{
     	    width: 40%;
     }
     .king_store .categories .cat-items li.item:first-child{
     	margin-left: 25px;
     }
     .king_store .categories{
     	position: relative;
     }
     .king_store .categories .back-button{
     	position: absolute;
		left: 10px;
		bottom: 15px;
     }
     .king_store .categories .back-button a{
     	color: #414141;
     }
     .king_store .categories .back-button a i{
     	color: #1355a3;
     	font-size: 20px;
     }
	/*
	====================
	End of king story page
	====================
	*/


/*
===================================================
END OF My categories
===================================================
*/


/*
===================================================
 My products
===================================================
*/

.products-crousel{
	background-color: #f2f2f2;
}

.products-crousel .item{
	padding: 25px 0px;
}

/* .products-crousel .item .container div{
	display: inline-block;
} */

.products-crousel .item .container .row{
	position: relative;
}

.products-crousel .item .container{
    margin: auto;
    display: block;
}

.products-crousel .item .container .description{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 170px;
}

.products-crousel .item .container .description h3{
	color: #414141;
    font-weight: bold;
    margin-bottom: 20px;
}

.products-crousel .item .container .description p .first{
	display: block;
	color: #414141;
	margin-bottom: 15px;
	font-weight: bold;
}

.products-crousel .item .container .description p .second{
	display: block;
	color: #e1a226;
	margin-top: 25px;
}

.products-crousel .item .container .image-product{
	/* width: 69%; */
	position: relative;
	float: right;
}

.products-crousel .item .container .image-product .price{
	top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    right: 0;
    display: inline;
    height: auto;
    height: 50px;
}

.products-crousel .item .container .description p{
	width: 300px;
}    

.products-crousel .item .image-product .circle
{
	    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}

.products-crousel .item .image-product .circle img{
	display: block;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0;
	right: 0; left: 0;
}


.products-crousel .item .image-product .circle img.default {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 253px;
    max-height: 292px;
}

.products-crousel .item .image-product .price .icon , .products-crousel .description.responsive .price .icon  {
	width: 40px;
    height: 40px;
    background-color: #e1a226;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.products-crousel .item .image-product .price .icon img, .products-crousel .description.responsive .price .icon img{
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	margin: auto;
}

.products-crousel .item .image-product .price  .price-word, .products-crousel .description.responsive .price-word{
	display: inline-block;
}


.products-crousel .item .image-product .price .price-word .pr,.products-crousel .description.responsive .price-word .pr{
	display: block;
}

.products-crousel .item .image-product .price  .price-word .number,.products-crousel .description.responsive .price-word .number{
	color: #1558a5;
	font-weight: bold;
	font-size: 18px;
}

.products-crousel .description.responsive .price .icon {
	float: right;
	margin-right: 0px;
}

.products-crousel #owl-demo {
    position: relative;
}

.products-crousel #owl-demo .owl-controls .owl-buttons div.owl-next{
     color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    opacity: 1;
    position: absolute;
    margin: auto;
    bottom: 0px;
    top: 0px;
    right: 25px;
}

 .products-crousel #owl-demo .owl-controls .owl-buttons div.owl-prev  {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    opacity: 1;
    position: absolute;
    margin: auto;
    bottom: 0px;
    top: 0px;
    left: 25px;
}

.products-crousel #owl-demo .owl-controls .owl-buttons .owl-next:after,  #owl-demo .owl-controls .owl-buttons .owl-prev:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: "\f104";
    font-size: 48px;
    line-height: 0.8;
}

.products-crousel #owl-demo .owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

.products-crousel .owl-theme .owl-controls .owl-buttons div{
	background: transparent;
	color: #869791 !important;
	font-size: 30px;
}

.products-crousel .owl-theme .owl-controls .owl-page{
	display: none;
}

.products-crousel .description.responsive{
	display: none;
}

.small-images-products .product-items{
  list-style-type: none;
  width: 40%;
  margin: auto;
  display: block;
  padding: 0;
}

/* .small-images-products .product-items li.item{
	display: inline-block;
    float: none;
    margin-right: 90px;
    color: #535353;
}

.small-images-products .product-items li.item:last-child{
	margin-right: 0px;
} */

.small-images-products #owl-small-pics {
	width: 50%;
	margin: auto;
}

.small-images-products #owl-small-pics .item{
	width: 19%;
	display: inline-block;

}

.small-images-products #owl-small-pics .item img{
	margin: auto;
}

/*
===================================================
END OF My products
===================================================
*/


/*
=================================================
store_cart page
=================================================
*/

.store_cart{
	background-color: #f2f2f2;
}

.store_cart .container h4{
	margin-top: 40px; margin-bottom: 30px;
}

.store_cart .container .container_table{
	background-color: white;
	padding: 15px;
}

.store_cart .container_table table{
  padding: 15px;
}

.store_cart .container_table table th{
	border-top: 0px;
    padding-bottom: 20px;
    padding-top: 15px;
    color: #5a5a5a;
}

.store_cart .container_table table .img-product{
	width: 190px;
}

.store_cart .container_table table .img-product .img_contain{
	width: 80px;
	height: 85px;
	/* position: relative; */
	margin: auto;
}

.store_cart .container_table table .img-product .img_contain img{
	margin: auto;
	/* position: absolute;
	top: 0; bottom: 0; right: 0; left: 0; */
}

.store_cart .container_table table .title .first{
	display: block;
	color: #414141;
	padding-top: 25px;
}

.store_cart .container_table table .title .second{
	display: block;
	color: #1355a3;
	margin-top: 10px;
}

.store_cart .container_table table td.price{
	padding-top: 30px;
	color: #717171;
	font-weight: bold;
	    font-size: 16px;
}

.store_cart .container_table table td.total{
	color:#1558a5;
	font-weight: bold;
	padding-top: 30px;
	    font-size: 16px;
}

.store_cart .container_table table td.remove{
	padding-top: 30px;
}

.store_cart .container_table .total-calculate {
	padding: 15px;
}

.store_cart .container_table .total-calculate .first{
	margin-right: 8px;
	color: #5a5a5a;
}

.store_cart .container_table .total-calculate .second{
	color: #1558a5;
	margin-right: 8px;
	font-weight: bold;
	font-size: 18px;
}

.store_cart .container_table .total-calculate .third{
	color:#777777;
}

.store_cart .button-checkout a
{
	background-color: #e1a226;
    /* padding: 15px; */
    border-radius: 25px;
    margin-top: 30px;
    height: 55px;
    color: white;
    width: 135px;
    line-height: 4;
    text-align: center;
}

.store_cart .button-checkout.back a
{
	background-color: #b3b3b3;
    /* padding: 15px; */
    border-radius: 25px;
    margin-top: 30px;
    height: 55px;
    color: white;
    width: 110px;
    line-height: 4;
    text-align: center;
    margin-right: 8px;
}

.store_cart .container_table table td.count .circle_div{
	     position: relative;
    text-align: center;
    border: 1px solid #d1d1d1;
    color: #565656;
    width: 115px;
    height: 40px;
    line-height: 3;
    margin-top: 15px;
    border-radius: 15px;
}

.store_cart .container_table table td.count .circle_div .first{
	    position: absolute;
    top: 0;
    bottom: 0;

    left: 8px;
    line-height: 3;
    cursor: pointer;
}

.store_cart .container_table table td.count .circle_div .third{
	    position: absolute;
    top: 0;
    bottom: 0;

    right: 8px;
    line-height: 3.2;
    cursor: pointer;
}


/*
=================================================
END OF store_cart page
=================================================
*/


/*
=================================================
store_cart_Checkout page
=================================================
*/

.store_cart.store_checkout .container h4 span.total{
	float: right;

}

.store_cart.store_checkout .container h4 span.total i{font-size:14px;margin-right:8px;}

.store_cart.store_checkout .container h4 span.total span.price{
font-weight: bold;
 color: #1558a5;
 font-size: 16px;
}

.store_cart.store_checkout .container_table table td.count{
	padding-top: 30px;
}

/*
=================================================
END OF store_cart_Checkout page
=================================================
*/